.section-1
{
    background-color: gray;
    padding: 100px 0;
}
.section-1 .container-fluid .row .inner-wrap
{
    background-color: white;
    color: blue;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 20px;
}
.section-1{
    display:
}
